<section>

	<h3>About Me</h3>

	<div id="about-header">

		<div id="face-img"><br><br><br>Head Shot Here</div>

		<div id="icon-pen">{% include icons/icon-pencil.html %}</div>
		<div id="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div id="icon-browser">{% include icons/icon-browser.html %}</div>
		<div id="icon-video">{% include icons/icon-video.html %}</div>

	</div>

	<div id="blurb-wrapper">
		<p><strong>Sed ut perspiciatis unde omnis iste natus </strong> error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
		</p>

	</div>

	<div id="skill-bars">

		<div class="skill-unit">

			<div class="skill-label">Communication</div>
			<div class="skill-icon skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">Organisation</div>
			<div class="skill-icon skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">Planning</div>
			<div class="skill-icon skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">UI Design</div>
			<div class="skill-icon skill-5">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">Programming</div>
			<div class="skill-icon skill-10">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">UX Design</div>
			<div class="skill-icon skill-4">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">Teaching</div>
			<div class="skill-icon skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

			<div class="skill-label">Written Communication</div>
			<div class="skill-icon skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div id="skills-blurb">
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			</p>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			</p>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			</p>
		</div>
	</div>

</section>