<section class="grey-section project-section">

	<h3 id="projects">Projects</h3>

	<div class="project-slider">

		<div class="wrapper-1">
			<div class="thumbnail-wrapper">

				
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 1</strong>
						<div class="zoom-icon"></div>
					</div>

				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 2</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 3</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 4</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 5</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 6</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 7</strong>
						<div class="zoom-icon"></div>
					</div>
					
				</a>
				<a href="" class="thumb-unit">

					<div class="thumb-overlay">
						<strong>Project 8</strong>
						<div class="zoom-icon"></div>
					</div>
				
			</div>

		</div>

		<div class="wrapper-2">
			<div class="detail-container">
				<div class="project-return">{% include /icons/icon-back.html %}</div>
				<h4>Project</h4>
				<div style="width: 600px; height: 500px; background: #888;"></div>
				<p>sssssssssssssssssssssssssssssssssssssssssssssssssss</p>
				<div style="width: 600px; height: 500px; background: #888;"></div>
				<p>sssssssssssssssssssssssssssssssssssssssssssssssssss</p>
				<div style="width: 600px; height: 500px; background: #888;"></div>
				<p>sssssssssssssssssssssssssssssssssssssssssssssssssss</p>
			</div>
		</div>


		</div>
	</div>

</section>