<section class="grey-section">

	<h3 id="projects">Projects</h3>

	<div class="thumbnail-wrapper">

		
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 1</strong>
				<div class="zoom-icon"></div>
			</div>

		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 2</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 3</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 4</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 5</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 6</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 7</strong>
				<div class="zoom-icon"></div>
			</div>
			
		</a>
		<a href="" class="thumb-unit">

			<div class="thumb-overlay">
				<strong>Project 8</strong>
				<div class="zoom-icon"></div>
			</div>
		
	</div>

</section>