#wrapper {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Oxygen', sans-serif;
	font-style: bold;
	letter-spacing: 1px;
}

#title_container {
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

h1 a {
	color: #3a3a3a;
	text-decoration: none;
  	text-shadow: none;
  	margin-top: 1px;
}
h1 {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

h2 {
	text-align: center;
	color: #aaaaaa;
	display: block !important;
	text-shadow: none;
	font-size: 0.9rem;
	line-height: 1.6rem;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

img {
	width: 20%;
	height: auto;
}

#current_project_container {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-top: 50px;
}

#current_project_container h3 {
	text-align: center;
	color: black;
	display: block !important;
	text-shadow: none;
	font-size: 1.6rem;
	line-height: 1.6rem;
}

#content {
	border-bottom: 1px solid #ccc;
	margin-top: 50px;
}

#site_list_wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
}

#site_list_wrapper ol {
	width: 30%;
	margin: 0 auto;
	list-style-type: none;
}

#site_list_wrapper span {
	width: 50px;
}

#site_list_wrapper a, #content a {
	
	color: #3a3a3a;
	text-decoration: none;
}

#site_list_wrapper a:hover, #content a:hover {
	color: #ccc;
}

nav {
	margin: 0 auto;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

nav a {
	text-transform: uppercase;
	color: #aaaaaa;
	font-weight: bold;
	text-decoration: none;

}

nav a:hover {
	color: #333333
}

canvas {

	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;

}