<section class="bio">
	
	<h1 class="sub-title">bio /</h1>
	<div class="wrapper">

		<div class="left-name">
			<h1 class="name">john smits</h1>
			<div class="avatar" href=""></div> 
			<div class="social-link linkedin" href="linkedin.com"></div>
			<div class="social-link facebook" href="facebook.com"></div>
			<div class="social-link flickr" href="flickr.com"></div>
			<div class="social-link twitter" href="twitter.com"></div>
		</div>

		<div class="right-blurb">
			<h2 class="blurb-title">the best solution is the simplest idea!</h2>
			<p class="first-para">Lorem ipsum dolor sit amet, aeterno adolescens honestatis ei nam, quaerendum appellantur ei duo, te alii tamquam sententiae vix. In ius modus inani legere, et per dictas discere. Ad vis inani quaeque, movet fabulas volutpat cu vel, mel in verear aliquam detraxit. No sed labore essent, cu summo partiendo reformidans has, eu per laudem menandri. Sit ei quod iudicabit, illum copiosae appellantur ex sit, mea clita epicurei id.</p>
			<p class="second-para">
				Lorem ipsum dolor sit amet, aeterno adolescens honestatis ei nam, quaerendum appellantur ei duo, te alii tamquam sententiae vix. In ius modus inani legere, et per dictas discere. Ad vis inani quaeque, movet fabulas volutpat cu vel, mel in verear aliquam detraxit. 
			</p>
		</div>
	</div>
</section>