<header>

	<div class="title-lockup">
		<h1 class="title">.folio<br> one page<br> psd theme</h1>
		<h2 class="description">simple, clear, minimal portoflio template</h2>
	</div>

	<div class="info-bar">
		<div class="info-bar-content">
			<h1 class="logo">.folio</h1>

			<div class="info-bar-links">
				<nav>
					<a href="">work</a>
					<a href="">news</a>
					<a href="">bio</a>
					<a href="">contact</a>
					<span class="divider">o</span>
					<div class="social-link linkedin" href=""></div>
					<div class="social-link facebook" href=""></div>
					<div class="social-link flickr" href=""></div>
					<div class="social-link twitter" href="twitter.com"></div>
				</nav>
			</div>
		</div>
	</div>


</header>