<header>

	<div class="title-lockup">
		<h1 class="title">.folio<br> one page<br> psd theme</h1>
		<h2 class="description">simple, clear, minimal portoflio template</h2>
	</div>

	<div class="info-bar">
		<div class="info-bar-content">
			<h1 class="logo">.folio</h1>

			<nav>
				<a href="">work</a>
				<a href="">news</a>
				<a href="">bio</a>
				<a href="">contact</a>
			</nav>

			<div class="social-links">
				<a href="">L</a>
				<a href="">F</a>
				<a href="">I</a>
				<a href="">T</a>
			</div>
		</div>
	</div>


</header>