<section class="news">
	
	<h1 class="sub-title">News /</h1>

	<div class="news-lockup">

		<div class="left-panel">
			<div class="information">
				<div class="date"></div>
				<div class="tags"></div>

				<h1 class="article-title"></h1>
				<img src="" class="article-image">
				<p class="article-blurb"></p>
				<div class="article-read-more"></div>
			</div>
		</div>

		<div class="right-panel">
			<h1 class="tags">tags</h1>
			<div class="tag-list"></div>
			<h3 class="see-more"></h3>
			<div class="next-article-uppper"></div>
			<div class="next-article-lower"></div>
		</div>

	</div>

</section>