<section class="portfolio">
	
	<div class="portfolio-wrapper">
		<h1 class="sub-title">portfolio /</h1>

		<h2 class="key-words">glamour fashion personal street portrait</h2>

		<div class="image-lockup">
			<div class="images-square-top">
				<a class="row"  href="">1</a>
				<a class="row" href="">2</a>
				<a class="row" href="">3</a>
				<a class="row" href="">4</a>
			</div>
			<div class="images-quarters">
				<a class="row-2" href="">5</a>
				<a class="row-2" href="">6</a>
				<a class="row-2" href="">7</a>
				<a class="row-2" href="">8</a>
			</div>
			<div class="images-portraits">
				<a class="row-3" href="">9</a>
				<a class="row-3" href="">10</a>
				<a class="row-3" href="">11</a>
				<a class="row-3" href="">12</a>
			</div>
			<div class="images-square-lower">
				<a class="row-4" href="">13</a>
				<a class="row-4 half" href="">14</a>
				<a class="row-4 half" href="">15</a>
				<a class="row-4 half" href="">16</a>
				<a class="row-4 half" href="">17</a>
				<a class="row-4"href="">18</a>
			</div>
		</div>
	</div>

</section>