<section class="portfolio">
	
	<div class="portfolio-wrapper">
		<h1 class="sub-title">portfolio /</h1>

		<h2 class="key-words">glamour fashion personal street portrait</h2>

		<div class="image-lockup">
			<div class="images-square-top">
				<a class="row"  href="">1</a>
				<a class="row" href="">2</a>
				<a class="row" href="">3</a>
				<a class="row" href="">4</a>
			</div>
			<div class="images-quarters">
				<a class="row-2" href="">5</a>
				<a class="row-2" href="">6</a>
				<a class="row-2" href="">7</a>
				<a class="row-2" href="">8</a>
			</div>
			<div class="images-portraits">
			{% for portrait in site.data.settings.portraits %}
				<a class="row-3" href="" style="background: url(/assets/img/portfolio/{{ portrait.file-name }}.png) center center">
					<!-- {{ portrait.name }} -->
				</a>
			{% endfor %}
			</div>
			<div class="images-square-lower">
				<a class="row-4" href="" style="background: url(/assets/img/portfolio/hover/horizontal-no-picture.png) center center"></a>
				<a class="row-4 half" href="" style="background: url(/assets/img/portfolio/hover/horizontal-no-picture.png) center center"></a>
				{% for image in site.data.settings.images %}
					<a class="row-4 half" href="" style="background: url(/assets/img/portfolio/{{ image.file-name }}.png) center center"></a>
				{% endfor %}
				<a class="row-4"href="" style="background: url(/assets/img/portfolio/random-6.png) center center"></a>
			</div>
		</div>
	</div>

</section>