<section class="portfolio">
	
	<h1 class="sub-title">portfolio /</h1>

	<h2 class="blurb">glamour fashion personal streeet portrait</h2>

	<div class="image-lockup">
		<div class="images-square-top">
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
		</div>
		<div class="images-quaters">
			<a href="">5</a>
			<a href="">6</a>
			<a href="">7</a>
			<a href="">8</a>
		</div>
		<div class="image-faces">
			<a href="">9</a>
			<a href="">10</a>
			<a href="">11</a>
			<a href="">12</a>
		</div>
		<div class="images-square-top">
			<a href="">13</a>
			<a href="">14</a>
			<a href="">15</a>
			<a href="">16</a>
			<a href="">17</a>
		</div>
	</div>

</section>