header
	height: 540px
	background: url(../img/header/header-bg.png) center center
	background-size: cover 

	.title-lockup
		width: 940px
		margin: 0px auto


		.title
			padding: 0px 60px 0px 60px
			padding-top: 120px
			margin: 0px
			text-transform: uppercase
			font:
				size: 64px
				weight: 700px

		.description
			padding: 0px 65px 0px 60px
			margin-top: -10px
			text-transform: uppercase
			font: 
				size: 26px
				weight: 700


	.info-bar
		margin-top: 100px
		background: $infobar-color
		height: 100px

		.info-bar-content
			height: 100px
			width: 940px
			margin: 0px auto
			
			.logo
				text-transform: uppercase
				margin: 0px
				padding: 32px 0px 32px 0px
				height: 36px
				float: left
				font-size: 36px
				font-weight: 700

			.info-bar-links
				float: right
				display: inline inline-flex
				height: 100px
				width: 540px
				vartical-align: middle

				nav
					height: 20px
					padding: 40px 0px 40px 0px
					clear: both
					a	
						margin-left: 25px
						text-transform: uppercase
						font:
							size: 15px
							weight: 700

						&:hover
							color: #65ba99

					.divider
						padding-left: 50px
						color: $infobar-color

				.social-link
					position: relative
					margin: -9px
					margin-left: 10px
					display: inline-block
					+size(38px)
					z-index: 2

				.twitter
					background: url(../img/header/twitter-icon.png) center center
					
				.facebook
					background: url(../img/header/facebook-icon.png) center center
				.linkedin
					background: url(../img/header/linkedin-icon.png) center center
				.flickr
					background: url(../img/header/flickr-icon.png) center center