.portfolio 
	background-color: $green-bg
	height: 1840px
	text-align: center
	text-transform: uppercase

	.portfolio-wrapper
		max-width: 940px
		margin: 0 auto

		.sub-title
			margin: 0px
			padding-top: 58px
			font:
				size: 34px
		.key-words
			margin: 0px
			margin-top: 16px
			font-size: 18px

		.image-lockup
			margin-top: 50px

			.row
				display: block
				width: 50%
				height: 255px
				float: left
				background: green

			.images-quarters
				
				.row-2
					display: block
					width: 25%
					height: 345px
					float: left
					background: blue

			.images-portraits

				.row-3
					display: block
					width: 25%
					height: 235px
					float: left
					background: turquoise

			.images-square-lower

				.row-4
					display: block
					width: 50%
					height: 255px
					float: left
					background: red

				.half
					width: 25%
				